schema/litleChargeback_v2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE xs:schema SYSTEM 'http://www.w3.org/2001/XMLSchema.dtd'-->
<xs:schema targetNamespace="http://www.litle.com/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xp="http://www.litle.com/schema" elementFormDefault="qualified">

    <xs:include schemaLocation="litleCommon_v7.xsd" />

    <xs:element name="litleChargebackActivitiesRequest">
        <xs:annotation>
            <xs:documentation>Root element for request to export chargeback activities.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="xp:authentication" />
                <xs:element name="activityDate" type="xs:date" />
                <xs:element name="financialOnly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="version" type="xp:versionType" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="litleChargebackActivitiesResponse">
        <xs:annotation>
            <xs:documentation>Root element for response containing chargeback activities.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activityDate" type="xs:date" />
                <xs:element name="caseActivity" type="xp:caseActivityType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="version" type="xp:versionType" use="required" />
            <xs:attribute name="response" type="xp:responseType" use="required" />
            <xs:attribute name="message" type="xp:messageType" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="caseActivityType">
        <xs:sequence>
            <xs:element name="caseId" type="xp:litleIdType" />
            <xs:element name="merchantId" type="xp:merchantIdentificationType" />
            <xs:element name="dayIssuedByBank" type="xs:date" />
            <xs:element name="dayReceivedByLitle" type="xs:date" />
            <xs:element name="cycle" type="xp:cycleType" />
            <xs:element name="litleTxnId" type="xp:litleIdType" />
            <xs:element name="merchantTxnId" type="xp:string25Type" />
            <xs:element name="orderId" type="xp:string25Type" />
            <xs:element name="cardNumberLast4" type="xp:cardNumberLast4Type" />
            <xs:element name="cardType" type="xp:methodOfPaymentTypeEnum" />
            <xs:element name="chargebackAmount" type="xp:transactionAmountType" />
            <xs:element name="chargebackCurrencyType" type="xp:currencyCodeEnum" default="USD" />
            <xs:element name="originalTransactionDay" type="xs:date" />
            <xs:element name="chargebackType" type="xp:chargebackType" />
            <xs:element name="activityType" type="xp:activityType" />
            <xs:element name="representedAmount" type="xp:transactionAmountType" minOccurs="0" />
            <xs:element name="representedCurrencyType" type="xp:currencyCodeEnum" minOccurs="0" />
            <xs:element name="preArbAmount" type="xp:transactionAmountType" minOccurs="0" />
            <xs:element name="preArbCurrencyType" type="xp:currencyCodeEnum" minOccurs="0" />
            <xs:element name="reasonCode" type="xs:string" />
            <xs:element name="reasonCodeDescription" type="xs:string" />
            <xs:element name="fromQueue" type="xp:queueType" />
            <xs:element name="toQueue" type="xp:queueType" />
            <xs:element name="currentQueue" type="xp:queueType" />
            <xs:element name="settlementAmount" type="xp:transactionAmountType" minOccurs="0" />
            <xs:element name="settlementCurrencyType" type="xp:currencyCodeEnum" minOccurs="0" />
            <xs:element name="notes" type="xs:string" minOccurs="0" />
            <xs:element name="fraudNotificationStatus" type="xp:fraudNotificationStatusType" minOccurs="0" />
            <xs:element name="fraudNotificationDate" type="xs:date" minOccurs="0" />
            <xs:element name="retrievalRequestType" type="xp:retrievalRequestType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="cycleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RETRIEVAL_REQUEST" />
            <xs:enumeration value="FIRST_CHARGEBACK" />
            <xs:enumeration value="REPRESENTMENT" />
            <xs:enumeration value="ARBITRATION_CHARGEBACK" />
            <xs:enumeration value="CHARGEBACK_REVERSAL" />
            <xs:enumeration value="PRE_ARB_CHARGEBACK" />
            <xs:enumeration value="ISSUER_ARB_CHARGEBACK" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="chargebackType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Deposit" />
            <xs:enumeration value="Refund" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="activityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Add Note" />
            <xs:enumeration value="Assign To Litle" />
            <xs:enumeration value="Assign To Merchant" />
            <xs:enumeration value="Assign To Merchant Automated" />
            <xs:enumeration value="File Arbitration" />
            <xs:enumeration value="File Pre-arbitration" />
            <xs:enumeration value="Litle Accepts Liability" />
            <xs:enumeration value="Litle Represent" />
            <xs:enumeration value="Litle Respond" />
            <xs:enumeration value="Merchant Accepts Liability" />
            <xs:enumeration value="Merchant Represent" />
            <xs:enumeration value="Merchant Requests Arbitration" />
            <xs:enumeration value="Merchant Respond" />
            <xs:enumeration value="Merchant Respond - Sent Credit" />
            <xs:enumeration value="Merchant Respond - Sent Gift" />
            <xs:enumeration value="Move To Litle Error Queue" />
            <xs:enumeration value="Receive Network Transaction" />
            <xs:enumeration value="Request Declined" />
            <xs:enumeration value="Send Representment" />
            <xs:enumeration value="Send Retrieval Request Response" />
            <xs:enumeration value="Successful Arbitration Case" />
            <xs:enumeration value="Successful Pre-arbitration Case" />
            <xs:enumeration value="Successful PayPal Case" />
            <xs:enumeration value="Auto Represent" />
            <xs:enumeration value="Attach Document" />
            <xs:enumeration value="Delete Document" />
            <xs:enumeration value="Update Document" />
            <xs:enumeration value="Attempted to Attach Document" />
            <xs:enumeration value="Network Decision" />
            <xs:enumeration value="Network Declined" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="queueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="New" />
            <xs:enumeration value="Litle" />
            <xs:enumeration value="Litle Outgoing" />
            <xs:enumeration value="Litle Assumed" />
            <xs:enumeration value="Litle Error" />
            <xs:enumeration value="Merchant" />
            <xs:enumeration value="Merchant Automated" />
            <xs:enumeration value="Merchant Assumed" />
            <xs:enumeration value="Network Assumed" />
            <xs:enumeration value="Merchant Arbitrate" />
            <xs:enumeration value="Pre-arbitrate" />
            <xs:enumeration value="Arbitrate" />
            <xs:enumeration value="PayPal Hold - Represent" />
            <xs:enumeration value="PayPal Hold - Assume" />
            <xs:enumeration value="Decision Pending" />
            <xs:enumeration value="Merchant Auto Assumed" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="litleChargebackUpdateRequest">
        <xs:annotation>
            <xs:documentation>Root element to update to chargeback cases.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="xp:authentication" />
                <xs:element name="caseUpdate" type="xp:caseUpdateType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="version" type="xp:versionType" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="caseUpdateType">
        <xs:sequence>
            <xs:element name="caseId" type="xp:litleIdType" />
            <xs:element name="merchantActivityId" type="xp:string25Type" />
            <xs:element name="activity" type="xp:activityType" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="litleChargebackUpdateResponse">
        <xs:annotation>
            <xs:documentation>Root element to give responses to update requests.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="caseUpdateResponse" type="xp:caseUpdateResponseType" minOccurs="0"
                    maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="version" type="xp:versionType" use="required" />
            <xs:attribute name="response" type="xp:responseType" use="required" />
            <xs:attribute name="message" type="xp:messageType" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="caseUpdateResponseType">
        <xs:sequence>
            <xs:element name="phoenixTxnId" type="xp:litleIdType" />
            <xs:element name="caseId" type="xp:litleIdType" />
            <xs:element name="merchantActivityId" type="xp:string25Type" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="retrievalRequestType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INQUIRY" />
            <xs:enumeration value="DISPUTE" />
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="fraudNotificationStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEFORE" />
			<xs:enumeration value="AFTER" />
		</xs:restriction>
	</xs:simpleType>
    
    
</xs:schema>
